<!-- All code here is rendered to the screen -->
<!-- Show the components (render) at the screen -->
<!-- bacis assumption to the project: we want to show card localhost:4200/elements as first, so there is no selectors, except routing-->

<!-- <app-collections-home></app-collections-home>

<app-elements-home></app-elements-home> -->
<!-- <div> will be displayed depending of typed URL ex.: localhost:4200/elements or /collectios etc. -->
<!-- href causes reloading of entire page while URL is changing to different subpages -->
<!-- but routerLink is working differently: is not reloading page, but is also not changing addresses in network in DevTools - its not downloading all JS files but changes the page content -->


<div class="ui container">
  <div class="ui secondary pointing menu">
    <!-- <a href="/elements">Elements</a> -->
    <!-- routerLinkActive can has any name, it works like a class with name-->
    <!-- Semantic-ui-css is adding a highlighting to routerLinkActive -->
    <a routerLink="./elements" routerLinkActive="active" class="item">Elements</a>
    <a routerLink="/collections" routerLinkActive="active" class="item">Collections</a>
  </div>
</div>
<div class="ui segment">
  <router-outlet></router-outlet>
</div>

<div>Test: Component will be created here</div>
